.content {
  margin: 30px;
}

.ticket-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: var(--color-mint);
  margin-bottom: 10px;
}

.left-side,
.right-side {
  display: flex;
  gap: 1rem;
}

#title {
  font-size: 1rem;
}

#description {
  font-size: 0.7rem;
}

#date:hover,
.delete-button:hover,
.edit-button:hover {
  cursor: pointer;
  background-color: grey;
}
