.content {
  margin: 30px;
}

.ticket-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 10px;
  border-left: 5px solid transparent;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#title {
  font-size: 1rem;
}

#description {
  font-size: 0.7rem;
}

#date,
.delete-button,
.edit-button {
  transition: all 0.2s ease-in-out;
}

.right-side > #date {
  text-align: end;
  width: 100px;
}

.delete-button:hover,
.edit-button:hover {
  scale: 1.1;
  cursor: pointer;
}

.right-side > div > img {
  width: 20px;
  height: 20px;
}

.right-side {
  margin-right: 5px;
}

.right-side > #priority {
  text-align: center;
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: var(--font);
  color: white;
}

.content > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
}

#add-new-task-button {
  color: #c0c0c0;
  text-align: center;
  padding: 10px 10px;
  border: 1px solid var(--menu-hover-color);
  transition: all 0.2s ease-in-out;
}

#add-new-task-button:hover {
  cursor: pointer;
  color: #a7a7a7;
  border: 1px solid #a7a7a7;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--color-ink); /* indigo */
  border-color: var(--color-ink);
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:hover {
  border-color: var(--color-ink);
  box-shadow: 0 0 4px var(--color-ink);
}
