.menu-bar {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  background-color: var(--menu-bar-color);
  box-shadow: 0 1px 10px -4px gray;
  min-height: calc(100vh - 100px);
  position: relative;
}

@media (max-width: 768px) {
  .menu-bar {
    min-height: 100%;
  }
}

.home {
  margin-bottom: 1rem;
}

#today,
#week,
#all-tasks {
  font-size: 1.2rem;
}

.home > h3,
.projects > h3 {
  font-size: 2rem;
  font-weight: 700;
}

#today,
#week,
#all-tasks,
#add-project,
.home > h3,
.projects > h3 {
  padding: 0px 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#today:hover,
#week:hover,
#all-tasks:hover {
  background-color: var(--menu-hover-color);
  cursor: pointer;
}

#add-todo-button {
  font-size: 2rem;
  position: absolute;
  bottom: 20px; /* distance from bottom of container */
  right: 20px; /* distance from right of container */
  transition: all 0.1s ease-in-out;
}

#add-todo-button:hover {
  scale: 1.2;
  cursor: pointer;
}

/* PROJECT SETTINGS */

#project-wrapper {
  font-size: 1.2rem;
}

#project-wrapper > div {
  padding: 0px 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: none;
}

#project-wrapper > div:hover {
  background-color: var(--menu-hover-color);
  cursor: pointer;
}

#add-project {
  color: #b0b0b0;
  font-size: 1rem;
  display: block;
  transition: all 0.2s ease-in-out;
}

#add-project:hover {
  color: #7d7d7d;
  cursor: pointer;
}

#add-project-input {
  border: none;
  font-size: 1rem;
  padding: 5px 10px;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 100%;
}

.add-project-form {
  display: none;
  /* display: flex; */
  flex-direction: column;
  margin: 0px 30px;
}

.add-project-form.active {
  display: flex;
}

.add-project-form > div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#add-project-button,
#cancel-project-button {
  background: none;
  font-size: 0.8rem;
  width: 100%;
}
