.menu-bar {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  background-color: var(--menu-bar-color);
  box-shadow: 0 1px 10px -4px gray;
  min-height: calc(100vh - 100px);
  position: relative;
}

@media (max-width: 768px) {
  .menu-bar {
    min-height: 100%;
  }
}

.home {
  margin-bottom: 1rem;
}

#today,
#week,
#all-tasks,
#add-project {
  font-size: 1.2rem;
}

.home > h3,
.projects > h3 {
  font-size: 2rem;
  font-weight: 700;
}

#today,
#week,
#all-tasks,
#add-project,
.home > h3,
.projects > h3 {
  padding: 0px 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#today:hover,
#week:hover,
#all-tasks:hover,
#add-project:hover,
#add-todo-button:hover {
  background-color: var(--menu-hover-color);
  cursor: pointer;
}

#add-todo-button {
  font-size: 2rem;
  position: absolute;
  bottom: 20px; /* distance from bottom of container */
  right: 20px; /* distance from right of container */
}
